@model InterviewSystem.Web.ViewModels.Questions.QuestionViewModel
@{
    ViewBag.Title = "ById";
}

<div>
    @Model.Content
    <br/>
    Type: @Model.QuestionTypeId
    <br/>
    Level: @Model.QuestionLevelId
    <br />
    Weight: @Model.Weight
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>